doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    title EcoScore
    link(rel="stylesheet" href="/css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  body
    header
      div(class='logo')
        a(href='/')
          img(src='images/ecoscore/logo.svg', alt='EcoScore')
      div(class='menu')
        form(action='/', method='post', id='searchbar')
          input#strichcode(type='text', placeholder='Strichcode eingeben...', name="ID")
          button(type='submit') Suche
        button#start(class="cambutton")
          i.fa.fa-camera
      div(class='logo')
        a(href='/')
          img(src='images/ecoscore/logo.svg', alt='EcoScore')
    main
      #content(hidden)
        .center-screen  
          .overlay
            .overlay-helper
              .overlay-element.top-left
                span#overlay-top-left-text.overlay-text
                  | &#x1F534; REC
              .overlay-element.top-right
                span#overlay-top-right-text.overlay-text
                  | 00:00
              .overlay-element.bottom-left
                span#overlay-bottom-left-text.overlay-text
                  | 25 FPS
              .overlay-element.bottom-middle
                span#overlay-bottom-left-text.overlay-text
                  button#capture(class="cambutton")
                    i.fa.fa-camera
              .overlay-element.bottom-right
                span#overlay-bottom-right-text.overlay-text
                  | 1280x720
          video#player(autoplay=''  style="display:none" width='1280' height='720')
          //button#capture(style="display:none") FOTO
          canvas#canvas(hidden width='1280' height='720')
      if obj
        h2 Your Result
        div(class='product')
          img#image(class='productimage', src=obj.product.image_url)
          ul(class='list')
            li#code #{obj.code}
            li#brand #{obj.product.brands}
            li#product #{obj.product.product_name}
          img#pclass(class='ecoscoreimage', src=img_src)

        script.
          var image = document.getElementById('image').src;
          var code = document.getElementById('code').innerHTML;
          var brand = document.getElementById('brand').innerHTML;
          var product = document.getElementById('product').innerHTML;
          var pclass = document.getElementById('pclass').src;

          if(sessionStorage.length != 0){
            var historyelement = document.createElement("h2");
            historyelement.innerHTML = "History";
            document.body.append(historyelement);
          }

          for(i=0; i <= sessionStorage.length-1 ; i+=5){
            console.log(sessionStorage.getItem(i))
            console.log(sessionStorage.getItem(i+1))
            console.log(sessionStorage.getItem(i+2))
            console.log(sessionStorage.getItem(i+3))
            console.log(sessionStorage.getItem(i+4))

            var html_div = document.createElement('div');
            html_div.classList.add('product')
            html_div.id = i
            document.body.append(html_div)

            var html_img = document.createElement("img");
            html_img.src = sessionStorage.getItem(i)
            document.getElementById(i).appendChild(html_img)

            var html_ul = document.createElement('ul');
            html_ul.classList.add('list')
            html_ul.id = i+1000
            document.getElementById(i).appendChild(html_ul)

            var html_code = document.createElement('li');
            html_code.textContent = sessionStorage.getItem(i+1)
            document.getElementById(i+1000).appendChild(html_code)

            var html_brand = document.createElement('li');
            html_brand.textContent = sessionStorage.getItem(i+2)
            document.getElementById(i+1000).appendChild(html_brand)

            var html_product = document.createElement('li');
            html_product.textContent = sessionStorage.getItem(i+3)
            document.getElementById(i+1000).appendChild(html_product)

            var html_img_2 = document.createElement("img");
            html_img_2.src = sessionStorage.getItem(i+4)
            document.getElementById(i).appendChild(html_img_2)
          }

          sessionStorage.setItem(sessionStorage.length, image)
          sessionStorage.setItem(sessionStorage.length, code)
          sessionStorage.setItem(sessionStorage.length, brand)
          sessionStorage.setItem(sessionStorage.length, product)
          sessionStorage.setItem(sessionStorage.length, pclass)
           
      if notfound 
        script.
           document.getElementById('strichcode').placeholder = 'Strichcode nicht erkannt...';

script.
  const content = document.getElementById('content');
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const captureButton = document.getElementById('capture');
  const startButton = document.getElementById('start');
  const strichcode = document.getElementById('strichcode');


  const constraints = {
    video: true,
  };

  captureButton.addEventListener('click', () => {
    context.drawImage(player, 0, 0, canvas.width, canvas.height);
    // Stop all video streams. 
    const frame = canvas.toDataURL("image/png");
    //player.srcObject.getVideoTracks().forEach(track=> track.stop());
    var httpPost = new window.XMLHttpRequest(),
      data = JSON.stringify({
        frame
      });
      httpPost.onreadystatechange = function(err) {
      if (httpPost.readyState == 4 && httpPost.status == 200){
        console.log(httpPost.responseText);
        result = JSON.parse(httpPost.responseText);
        strichcode.value = Object.values(result);
      } else {
        console.log(err);
      }
    };
    httpPost.open("POST","/upload", true);
    // Set the content type of the request to json since that's what's being sent
    httpPost.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    httpPost.send(data);

    player.style.display = "none";
    capture.style.display = "none";
    content.style.display = "none";
  });

  startButton.addEventListener('click', () => {
    content.style.display = "block";
    player.style.display = "block";
    capture.style.display = "block";
    navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
      // Attach the video stream to the video element and autoplay.
      player.srcObject = stream;
    });
  });